{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block body %}
<section class="section-content padding-y bg">
	<div class="container">
    <div class="row">

        <div class="col-md-10 col-11 mx-auto">
            <div class="row mt-5 gx-3">
                <!--Left Side div-->
                <div class="col-md-12 col-lg-6 col-11 mx-auto main_cart mb-lg-0 mb-5">
                    <div class="card">
                        <div class="card-body">
                             <h2 class="py-4 font-weight-bold"><b>Billing Address</b></h2>
                            <form action="{% url 'place_order' %}" method='POST'>
                                {% csrf_token %}
                                <div class="form-row mb-2">
                                    <div class="col form-group mb-2">
                                        <label for="">First Name</label>
                                        <input type="text" name="first_name" class="form-control" required>
                                    </div>
                                    <div class="col form-group mb-2">
                                        <label for="">Last Name</label>
                                        <input type="text" name="last_name" class="form-control" required>
                                    </div>
                                    <div class="form-row">
                                        <div class="col form-group mb-2">
                                            <label for="">Email</label>
                                            <input type="email" name="email" class="form-control" required>
                                        </div>
                                        <div class="col form-group mb-2">
                                            <label for="">Phone Number</label>
                                            <input type="text" name="phone_number" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col form-group mb-2">
                                            <label for="">Address Line 1</label>
                                            <input type="text" name="address_line1" class="form-control" required>
                                        </div>
                                        <div class="col form-group mb-2">
                                            <label for="">Address Line 2</label>
                                            <input type="text" name="address_line2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col form-group mb-2">
                                            <label for="">City</label>
                                            <input type="text" name="city" class="form-control" required>
                                        </div>
                                        <div class="col form-group mb-2">
                                            <label for="">state</label>
                                            <input type="text" name="state" class="form-control" required>
                                        </div>
                                        <div class="col form-group mb-2">
                                            <label for="">Country</label>
                                            <input type="text" name="country" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col form-group mb-2">
                                            <label for="">Note</label>
                                            <textarea name="order_note" rows="3" cols="30" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Place Order</button>
                            </form>
                        </div>
                    </div> <!-- card.// -->

                </div>
                <div class="col-md-12 col 11 col-lg-6 mx-auto mt-md-5 mt-lg-0">
                    <div class="card p-4 mb-3">
                        <div class="row">
                            <div class="col-md-8 col-8 justify-content-end">
                                <h2 class="py-4 font-weight-bold"><b>Ordered Items</b></h2>
                            </div>
                        </div>
                        <div class="row" id="items">
                            {% for i in cart_items %}
                            <!--Cart Images-->
                            <div
                                class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center product_image">
                                <a href="{{i.product.get_url}}"><img  src="{{i.product.images.url}}"
                                        class="img-fluid"></a>
                            </div>
                            <!-- Image Details -->
                            <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                                <!-- product name -->
                                <div class="row">
                                    <div class="col-md-6 col-11 card-title">
                                        <h1 class="mb-4 product_name"><b>{{i.product.product_name}}</b></h1>
                                        <p class="text-muted small">
                                            {% if i.variations.all %}
                                            {% for j in i.variations.all %}
                                            {{j.variation_category | capfirst}} : {{j.variation_value | capfirst}}
                                            <br>
                                            {% endfor %}
                                            {% endif %}
                                            Quantity : {{i.quantity}}
                                        </p>
                                    </div>
                                    <!-- Quantity Increment/Decrement -->
                                    <div class="col-md-6 col-11 mb-3">
                                        <h4>Rs {{i.sub_total}}</h4>
                                        <small class="text-muted">Rs {{i.product.price}} each</small>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <hr>
                            {% endfor %}
                            <h4 class="mb-2"><b>Grand Total</b> : {{total_tax}}</h4>
                            <button class="btn btn-outline-primary"><a href="{% url 'store' %}">Continue Shopping</a></button>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div> <!-- container .//  -->
</section>

{% endblock body %}