{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="section-content mt-5 bg">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="card">
			<div class="row no-gutters">
				<aside class="col-md-6 col-11">
					<article class="gallery-wrap">
						<div class="img-big-wrap mainImage col-11">
							<center><img src="{{single_product.images.url}}"></center>
						</div>
					</article>
					<ul class="thumb">
						<li>
							<a href="{{single_product.images.url}}" target="mainImage"><img style="width: 80px;
	height: 80px;
	border: 1px solid grey;" src="{{single_product.images.url}}" alt=""></a>
							{% for i in gallery %}
							<a href="{{i.image.url}}" target="mainImage"><img style="width: 80px;
	height: 80px;
	border: 1px solid grey;" src="{{i.image.url}}" alt=""></a>
							{% endfor %}
						</li>
					</ul>
				</aside>
				<main class="col-md-6 col-11 border-left">
					<form action="{% url 'add_cart' single_product.id %}" method="POST">
						{% csrf_token %}
						<article class="content-body">
							<h2 class="title mt-3" style="font-weight: bold;">{{single_product.product_name}}</h2>
							<span style="color: #ffb503;">

								<i class="fa fa-star{% if single_product.AverageRating < 0.5 %}-o{% elif single_product.AverageRating >= 0.5 and single_product.AverageRating < 1 %}-half-o{% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.AverageRating < 1.5 %}-o{% elif single_product.AverageRating >= 1.5 and single_product.AverageRating < 2 %}-half-o{% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.AverageRating < 2.5 %}-o{% elif single_product.AverageRating >= 2.5 and single_product.AverageRating < 3 %}-half-o{% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.AverageRating < 3.5 %}-o{% elif single_product.AverageRating >= 3.5 and single_product.AverageRating < 4 %}-half-o{% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.AverageRating < 4.5 %}-o{% elif single_product.AverageRating >= 4.5 and single_product.AverageRating < 5 %}-half-o{% endif %}"
									aria-hidden="true"></i>
							</span> <small>{{single_product.countReview}} Reviews</small>
							<div class="mt-2 mb-3">
								<var class="price h4" style="font-style: normal; font-family: Arial, Helvetica, sans-serif">Rs {{single_product.price}}</var>
							</div>

							<p>{{single_product.description}}</p>


							<hr>
							<div class="row">
								<div class="item-option-select" style=" margin-bottom: 1rem; width: 150px;
								display: inline-block;
								margin-right: 15px;">
									<h6 class="mb-2">Choose Color</h6>
									<select class="form-control" name="color" required>
										<option value="" disabled selected>Select</option>
										{% for i in single_product.variation_set.color %}
										<option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}
										</option>
										{% endfor %}
									</select>

								</div>
							</div> <!-- row.// -->
							<div class="row">
								<div class="item-option-select" style=" margin-bottom: 1rem; width: 150px;
								display: inline-block;
								margin-right: 15px;">
									<h6 class="mb-2">Select Size</h6>
									<select class="form-control" name="size">
										<option value="" disabled selected>Select</option>
										{% for i in single_product.variation_set.size %}
										<option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}
										</option>
										{% endfor %}
									</select>
								</div>
							</div> <!-- row.// -->
							<hr>
							{% if single_product.stock <= 0 %} <h5 class="text-danger">Out of Stock<h5>
									{% else %}
									<button type="submit" class="btn  btn-primary"> <span class="text">Add to
											cart</span> <i class="fa fa-shopping-cart"></i> </button>
											

									{% endif %}
						</article>
					</form> <!-- product-info-aside .// -->
				</main> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->

		<br>

		<div class="row">
			<div class="col-md-9">
				{% if user.is_authenticated %}
				<form action="{% url 'submit_review' single_product.id %}" method="POST">
					{% csrf_token %}
					<h5>Write Your Review</h5>
					<div>
						<!--Rating stars-->
						<label>Rate this Product : </label>
						<br>
						<div class="rate">
							<input type="radio" name="rating" id="rating5" value="5" required /><label for="rating5"
								title="5-star"></label>
							<input type="radio" name="rating" id="rating4" value="4" required /><label for="rating4"
								title="4-star"></label>
							<input type="radio" name="rating" id="rating3" value="3" required /><label for="rating3"
								title="3-star"></label>
							<input type="radio" name="rating" id="rating2" value="2" required /><label for="rating2"
								title="2-star"></label>
							<input type="radio" name="rating" id="rating1" value="1" required /><label for="rating1"
								title="1-star"></label>
						</div>
						<br>
						Review Title:
						<input type="text" class="form-control" name="subject">
						<br>
						Review:
						<br>
						<textarea name="review" class="form-control" cols="30" rows="5"></textarea>
						<br>
						<button type="submit" class="btn btn-primary">Submit</button>

					</div>
					{% include 'includes/alerts.html' %}
					<br>
				</form>
				{% else %}
				<small><span><a href="{% url 'login' %}">Sign-in</a></span> to review the product</small>
				{% endif %}
				<header class="section-heading">
					<h3 style="color: white; padding: 1.5rem;">Customer Reviews</h3>

				</header>
				{% for i in reviews %}
				<article class="box my-3 mb-3">
					<div class="icontext w-100">
						<div id="container1" style="width: 70px;
						height: 70px;
						border-radius: 70px;
						background: rgb(68, 6, 6);">
							<div id="name1" style="
							width: 100%;
							text-align: center;
							color: #fff;
							font-size: 36px;
							line-height: 2em;">
								{{i.user.first_name | slice:":1"}}{{i.user.last_name | slice:":1"}}
							</div>
						</div>
						<div class="text">
							<span class="date text-muted float-md-right">{{i.updated_date}}</span>
							<h6 class="mb-1 ml-3">{{i.user.first_name}} {{i.user.last_name}}</h6>

						</div>
					</div> <!-- icontext.// -->
					<div class="mt-3">
						<span style="color: #ffb503;">
							<i class="fa fa-star{% if i.rating < 1 %}-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if i.rating < 2 %}-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if i.rating < 3 %}-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if i.rating < 4 %}-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if i.rating < 5 %}-o{% endif %}" aria-hidden="true"></i>
						</span>

						<h6>{{i.subject}}</h6>
						<p>
							{{i.review}}
						</p>
					</div>
				</article>
				{% endfor %}


			</div> <!-- col.// -->
		</div> <!-- row.// -->


	</div> <!-- container .//  -->
</section>
{% endblock body %}