{% extends 'base.html' %}
{% load static %}
{% block title %}Store{% endblock title %}
{% block body %}
<section class="section-pagetop bg">
<div class="container">
{% if 'search' in request.path %}
	<h2 class="title-page">Search Results</h2>
{% endif %}	
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

				
<div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>sixteen products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li><a href="{% url 'store' %}">All Products</li>
                  {% for i in links  %}
				  <li><a href="{{i.get_url}}">{{i.category_name}}</a></li>
				  {% endfor %}
				  <li>Total Products : {{count}}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    {% for i in products %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="{{i.get_url}}"><img src="{{i.images.url}}" alt=""></a>
                        <div class="down-content">
                          <a href="#"><h4>{{i.product_name}}</h4></a>
                          <h6>Rs {{i.price}}</h6>
                          <p>{{i.description | slice:":50"}}...</p>
                          <ul class="stars">
                            <li><i class="fa fa-star{% if i.AverageRating < 0.5 %}-o{% elif i.AverageRating >= 0.5 and i.AverageRating < 1 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 1.5 %}-o{% elif i.AverageRating >= 1.5 and i.AverageRating < 2 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 2.5 %}-o{% elif i.AverageRating >= 2.5 and i.AverageRating < 3 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 3.5 %}-o{% elif i.AverageRating >= 3.5 and i.AverageRating < 4 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 4.5 %}-o{% elif i.AverageRating >= 4.5 and i.AverageRating < 5 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                          </ul>
                          <span>Reviews ({{i.countReview}})</span>
                        </div>
                      </div>
                    </div>
					{% endfor %}
                </div>
            </div>
          </div>
          <div class="col-md-12">
			{% if products.has_other_pages %}
  <ul class="pagination">
  {% if products.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
    {% endif %}

	{% for i in products.paginator.page_range  %}
	{% if products.number == i %}
	<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
	{% else %}
	<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endif %}
	{% endfor %}
	
	{% if products.has_next %}
	<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
	{% endif %}
  </ul>
  {% endif %}
          </div>
        </div>
      </div>
    </div>

<style>

.badge:after{
content:attr(value);
font-size:12px;
background: white;
border-radius:50%;
padding:3px;
color: black;
position:relative;
left:-8px;
top:-10px;
opacity:0.9;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
	background-color:black;
	color:white;
	
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}
	</style>
  <a href="{% url 'cart' %}" class="float">
<i class="fa badge" style="font-size:30px; padding: 15px;" value={{cart_count}}>&#xf07a;</i>
</a>

{% endblock body %}