{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block body %}
<section class="section-content padding-y bg">
	<div class="container">
    <div class="row">

        <div class="col-md-10 col-11 mx-auto">
            <div class="row mt-5 gx-3">
                <!--Left Side div-->
                <div class="col-md-12 col-lg-6 col-11 mx-auto main_cart mb-lg-0 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Billing Address</h5>
                            <h6 class="card-text">{{order.full_name}}</h6>
                            <ul>
                                <li>{{order.email}}</li>
                                <li>{{order.phone_number}}</li>
                                <li>{{order.address}}</li>
                                <li>{{order.city}}, {{order.state}}, {{order.country}}</li>
                            </ul>
                            {% if order.order_note %}
                            <b>Note : </b> {{order.order_note}}
                            {% endif %}
                        </div>
                    </div> 
                        </div>
                    </div> <!-- card.// -->

                </div>
                <div class="col-md-12 col 11 col-lg-6 mx-auto mt-md-5 mt-lg-0">
                    <div class="card p-4 mb-3">
                        <div class="row">
                            <div class="col-md-8 col-8 justify-content-end">
                                <h2 class="py-4 font-weight-bold"><b>Ordered Items</b></h2>
                            </div>
                        </div>
                        <div class="row" id="items">
                            {% for i in cart_items %}
                            <!--Cart Images-->
                            <div
                                class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center product_image">
                                <a href="{{i.product.get_url}}"><img  src="{{i.product.images.url}}"
                                        class="img-fluid"></a>
                            </div>
                            <!-- Image Details -->
                            <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                                <!-- product name -->
                                <div class="row">
                                    <div class="col-md-6 col-11 card-title">
                                        <h1 class="mb-4 product_name"><b>{{i.product.product_name}}</b></h1>
                                        <p class="text-muted small">
                                            {% if i.variations.all %}
                                            {% for j in i.variations.all %}
                                            {{j.variation_category | capfirst}} : {{j.variation_value | capfirst}}
                                            <br>
                                            {% endfor %}
                                            {% endif %}
                                            Quantity : {{i.quantity}}
                                        </p>
                                    </div>
                                    <!-- Quantity Increment/Decrement -->
                                    <div class="col-md-6 col-11 mb-3">
                                        <h4>Rs {{i.sub_total}}</h4>
                                        <small class="text-muted">Rs {{i.product.price}} each</small>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <hr>
                            {% endfor %}
                            <h4 class="mb-2"><b>Grand Total</b> : {{grand_total}}</h4>
                            
                            <p class="text-center mb-3">
                                <img src="{% static 'assets/images/payments.png' %}" height="26">
                            </p>
                            <button class="btn btn-primary btn-block mb-3" onclick="cash_on_delivery()"> Cash on Delivery
                            </button>
                            <div id="paypal-button-container"></div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div> <!-- container .//  -->
</section>


<script>


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var amount = `{{ grand_total }}`
    var url = `{% url 'paypal_payment' %}`
    var redirect_url = `{% url 'order_complete' %}`
    const csrftoken = getCookie('csrftoken');
    var orderID = `{{order.order_number}}`
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                console.log(details);
                data_sent();
                function data_sent() {
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                        },
                        body: JSON.stringify({
                            orderID: orderID,
                            transID: details.id,
                            payment_method: 'paypal',
                            status: details.status,
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            window.location.href = redirect_url + '?order_number='+data.order_number+'&paymentID='+data.transID;
                        });
                }
            });
        }


    }).render('#paypal-button-container');

    function cash_on_delivery() {
        var urls = `{% url 'cod' %}`
        var redirect = `{% url 'order_complete' %}`
        fetch(urls, {
            method: "POST",
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
                orderID: orderID,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success :', data)
            console.log('Completed Cod')
            window.location.href = redirect + '?order_number='+data.order_number+'&paymentID='+data.transID;
        })
        alert('Thank You, Check your email for Order Details !!!')
    }
</script>
{% endblock body %}