{% load static %}
<header class=".head">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <h2>Eshop <em>Nepal</em></h2>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item {% if '/' == request.path %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home
            </a>
          </li>
          <li class="nav-item {% if '/store/' == request.path %}active{% endif %}">
            <a class="nav-link" href="{% url 'store' %}">Our Products</a>
          </li>
          <li class="nav-item {% if '/store/wishlist/' == request.path %}active{% endif %}">
            <a class="nav-link text-center" href="{% url 'wishlist' %}"><i class="fa fa-heart" style="color: #f33f3f;"></i> Wish List</a>
          </li>
          <li class="nav-item {% if '/about/' == request.path %}active{% endif %}">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item {% if '/contact/' == request.path %}active{% endif %}">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
          <li class="nav-item {% if '/account/' == request.path %}active{% endif %}">
            
              
              {% if user.id is None %}
              <a class="nav-link text-center" href="{% url 'login' %}">login</a>
              {% else %}
              <a class="nav-link text-center" href="{% url 'dashboard' %}"><i class="fa fa-user-circle"></i> Dashboard</a>
              
            
          </li>
          <li class="nav-item {% if '/account/login/' == request.path %}active{% endif %}">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
          <li class="nav-item {% if '/cart/' == request.path %}active{% endif %}">
            
              
              <a href="{% url 'cart' %}" class="nav-link">
                <i class="fa fa-shopping-cart"></i> ( {{cart_count}} )
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>