{% extends 'base.html' %}
{% load static %}
{% block title %}EshopNepal{% endblock title %}
{% block body %}

<body>



	<div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
	<div class="banner header-text">
		<div class="owl-banner owl-carousel">
		  <div class="banner-item-01">
			<div class="text-content">
			  <h4>Best Offer</h4>
			  <h2>New Arrivals On Sale</h2>
			</div>
		  </div>
		  <div class="banner-item-02">
			<div class="text-content">
			  <h4>Flash Deals</h4>
			  <h2>Get your best products</h2>
			</div>
		  </div>
		  <div class="banner-item-03">
			<div class="text-content">
			  <h4>Last Minute</h4>
			  <h2>Grab last minute deals</h2>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- Banner Ends Here -->
  
	  <div class="latest-products">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="section-heading">
				<h2>Latest Products</h2>
				<a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
			  </div>
			</div>
			{% for i in products %}
			<div class="col-md-4">
			  <div class="product-item">
				<a href="{{i.get_url}}"><img src="{{i.images.url}}" alt=""></a>
				<div class="down-content">
				  <a href="{{i.get_url}}"><h4>{{i.product_name}}</h4></a>
				  <h6>{{i.price}}</h6>
				  <p>{{i.description | slice:":50"}}...</p>
				  <ul class="stars">
                            <li><i class="fa fa-star{% if i.AverageRating < 0.5 %}-o{% elif i.AverageRating >= 0.5 and i.AverageRating < 1 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 1.5 %}-o{% elif i.AverageRating >= 1.5 and i.AverageRating < 2 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 2.5 %}-o{% elif i.AverageRating >= 2.5 and i.AverageRating < 3 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 3.5 %}-o{% elif i.AverageRating >= 3.5 and i.AverageRating < 4 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star{% if i.AverageRating < 4.5 %}-o{% elif i.AverageRating >= 4.5 and i.AverageRating < 5 %}-half-o{% endif %}" aria-hidden="true"></i></li>
                    </ul><span>Reviews ({{i.countReview}})</span>
				</div>
			  </div>
			</div>
			{% endfor %}
		  </div>
		</div>
	  </div>
  
	  <div class="best-features">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="section-heading">
				<h2>About EshopNepal Clothing</h2>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="left-content">
				<h4>Looking for the best products?</h4>
				<ul class="featured-list">
				  <li><a href="#">Lorem ipsum dolor sit amet</a></li>
				  <li><a href="#">Consectetur an adipisicing elit</a></li>
				  <li><a href="#">It aquecorporis nulla aspernatur</a></li>
				  <li><a href="#">Corporis, omnis doloremque</a></li>
				  <li><a href="#">Non cum id reprehenderit</a></li>
				</ul>
				<a href="about.html" class="filled-button">Read More</a>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="right-image">
				<img src="{% static 'assets/images/feature-image.jpg' %}" alt="">
			  </div>
			</div>
		  </div>
		</div>
	  </div>
  
  
	  <div class="call-to-action">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="inner-content">
				<div class="row">
				  <div class="col-md-8">
					<h4>Creative &amp; Unique <em>Eshop</em> Products</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
				  </div>
				  <div class="col-md-4">
					<a href="#" class="filled-button">Purchase Now</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
  <style>

.badge:after{
content:attr(value);
font-size:12px;
background: white;
border-radius:50%;
padding:3px;
color: black;
position:relative;
left:-8px;
top:-10px;
opacity:0.9;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
	background: transparent;
	color:black;
	
	border-radius:50px;
	text-align:center;
	
}
.my-float{
	margin-top:22px;
}
	</style>

<body>
<a href="{% url 'cart' %}" class="float">
<i class="fa badge" style="font-size:30px; padding: 15px; color: black;" value={{cart_count}}>&#xf07a;</i>
</a>

</body>
{% endblock body %}